.searchbar{
   margin-left: 160px;
   width: 500px;
}
.sidelinksdiv{
   margin-right: 60px;
}
.sidelinks{
   font-weight: 900;
   margin-left: 10px;
   margin-right: 10px;
}
.Loginbtn{
   border-color: white!important;
   border: -1px!important;
   padding-left: 30px!important;
   padding-right: 30px!important;
   font-weight: 900;
   color: white;
   margin-left: 5px;
   margin-right: 5px;
}
.searchbtn{
   border-color: white;
   color: white;
}

@media only screen and ( max-width: 1321px) {
   .searchbar{
      width: 100% !important;;   
      
   }

}
@media only screen and ( max-width: 992px) {
   .searchbar{
      width: 100% !important;;   
      margin-left:0px !important;
   }

}