@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.table {
	border-spacing: 0 15px;
	border-collapse: separate;
}
.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1),
.table thead tr td:nth-last-child(1),
.table tbody tr th:nth-last-child(1),
.table tbody tr td:nth-last-child(1) {
	text-align: center;
}
.table tbody tr {
	
	border-radius: 5px;
}
.table tbody tr td {
	background: #fff;
}
.table tbody tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}
.table tbody tr td:nth-last-child(1) {
	border-radius: 0 5px 5px 0;
}

.user-info {
	display: flex;
	align-items: center;
}
.user-info__img img {
	margin-right: 15px;
	height: 55px;
	width: 55px;
	border-radius: 45px;
	border: 3px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body{
    overflow-x:hidden ;
}
.container-table{
    margin-top: 20px;
}
.comparison-table {
    width: 100%;
    font-size: .875rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.comparison-table table {
    min-width: 41rem;
    table-layout: fixed
}

.comparison-table table tbody+tbody {
    border-top-width: 1px
}

.comparison-table .table-bordered thead td {
    border-bottom-width: 1px
}

.comparison-table .comparison-item {
    position: relative;
    padding: .875rem .75rem 1.125rem;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    text-align: center
}

.comparison-table .comparison-item .comparison-item-thumb {
    display: block;
    width: 5rem;
    margin-right: auto;
    margin-bottom: .75rem;
    margin-left: auto
}

.comparison-table .comparison-item .comparison-item-thumb>img {
    display: block;
    width: 100%
}

.comparison-table .comparison-item .comparison-item-title {
    display: block;
    width: 100%;
    margin-bottom: 14px;
    color: #222;
    font-weight: 600;
    text-decoration: none
}

.comparison-table .comparison-item .comparison-item-title:hover {
    text-decoration: underline
}

.comparison-table .comparison-item .btn {
    margin: 0
}

.comparison-table .comparison-item .remove-item {
    display: block;
    position: absolute;
    top: -.3125rem;
    right: -.3125rem;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.comparison-table .comparison-item .remove-item .feather {
    width: .875rem;
    height: .875rem
}
.table-bordered th, .table-bordered td {
    border: 1px solid #e7e7e7;
}
.bg-secondary {
    background-color: #f7f7f7 !important;
}

.car
{
    padding: 20px!important;
}
.card1{
    background-color: #F5F5F5!important;
    width: 22rem;
}
.Notification_Outer_link{
    display: block;
    padding:5px;
    width: auto !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: transparent;
    /* border: 1px solid #e9e9e9; */

}
.Notification_innerbox{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}
.Notification_image_div{
    margin-right: 0.75rem;
    width: 56px !important;
    height: 56px !important;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 1px solid #dedede;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;

}
.Notification_image{
    height: 44px;
    width: 44px;
    max-height: 44px;
    max-width: 44px;
    overflow: hidden;
    object-fit: contain;
    display: block;
    border-radius: 50%;
    border-style: none;
}
.Notification_Head{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0 !important;
    color: #333 !important;
    font-size: 14px;
    font-weight: 700;
    min-width: 122px;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: transparent;
}
.Notification_Body{
    width: 100%;
    display: block;
    color: #333 !important;
    font-size: 16px;
    margin-bottom: 0.4rem;
    overflow: hidden;
}
p{
    margin-top: 0;
}
.Notification-height-footer-divider{
    height: 45px;
    margin-bottom: -10px;
}
.Notification-height-footer{
    padding: 9px 16px;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.Notification-hr{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: #000;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.Notification_Internal_Link{
    color: #333 !important;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    padding-bottom: 12px;
    text-decoration: none;

}
.btn_collapse{
    display: none;
}
.btngrouplist{
    flex-direction: row!important;
    flex-wrap: wrap;
}
.btngroup{
    background-color: rgba(0, 0, 0, 0.75);
    display: flex!important;
}
.btngroupdiv{
    display: flex!important;
}
.btnbtngroup{
    color:rgba(255, 255, 255,0.7)!important;
    font-weight: 700;
    padding: 10px;
    margin-left: 6vw;

}
.btnbtngroup:focus{
    color:rgba(255, 255, 255,1)!important;
    
}
.btnbtngroup:hover{
    color:rgba(255, 255, 255,1)!important;
    
}
.ban{
    background-color: #DAE9FE;
}
.Heromain{
    font-size: 4.5rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 29%;
    padding-top: 10%;
    letter-spacing: -1px;
    line-height:1;
}
.Herosub{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 29%;
    color: rgba(0, 0, 0, 0.602);
    padding-right: 12%;
    letter-spacing: -1px;
    padding-top: 3%;
}
.head{
    font-weight: bold;
    font-size: 22px;
  }
  .colh{
    font-weight: bold;
    font-size: 18px;
  }
  .wid22{
    width: 22rem;
  }
  .btn1
{
    background-color: #1447FC!important;
}
.btn2
{
    background-color: #FF5E15!important;
}
.col-1
{
    text-align: center!important;
}
.acc{
    color: #2A42E8!important;
    font-weight: bold;
    font-size: 13px!important;
}
.est{
    color: #848484!important;
    font-weight: bold;
    font-size: 13px!important;

}
.rate{
    font-weight: 700!important;
}
.title{

    font-weight: bold;
    font-size: 18px!important;

}

.lik{
    color: white!important;
}
.rank{
    background-color: #d2d2d2;
    color: #2A42E8;
    font-weight: bold;
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    
}
.ran{
    padding-top: 12rem;
}
.btn3{
    background-color: #ffffff!important;
    color: #000000!important;
    border-color: #000000!important;
    text-align: right!important;
    font-weight: bold!important;
}
.col-4{
    text-align: right!important;
    margin-top: -10px;
    margin-left: -128px;
}
.col-5
{
    width: 90px!important;
}
.hei18{
  height: 18rem;
}
.tar{
  text-align: right!important;
}
.p4{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}

.Button{
    padding: 50px;

}
 @media only screen and ( max-width: 1550px) {
    
    .Heromain{
        font-size: 65px;
        
    }
    .Herosub{
        font-size: 28px;
        
    }
    
   
  } 
  @media only screen and ( max-width: 1390px) {
    
    .Heromain{
        font-size: 50px;
        
    }
    .Herosub{
        font-size: 22px;
        
    }
    
   
  } 
  @media only screen and ( max-width: 1050px) {

    
    .Heromain{
        font-size: 40px;
        
    }
    .Herosub{
        font-size: 20px;
        
    }

    
   .Banner_Name{
    font-size: 28px;
   }
  } 
  @media only screen and ( max-width: 850px) {
    
    .Heromain{
        font-size: 30px;
        
    }
    .Herosub{
        font-size: 16px;
        
    }
    .Banner_Name{
        font-size: 23px;
       }
   .pagebody{
    flex: none!important;
   }
   .right-col{
    width: 100%;
   }
   .btn_expand{
    display: none;
}
.btn_collapse{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
    .institutebody{
        width: 100%;
    }
}
  @media only screen and ( max-width: 667px) {
    .institutebody{
        width: 100%;
    }
    .wid22{
        width:16rem;
        font-size: 10px;
    }
    .btn2{
        font-size: 10px;
    }
    .btn3{
        font-size: 10px;
    }
    .hei18{
        height: 10rem;
    }
    .ran{
        padding-top: 5rem;
    }
    .p4{
        padding-top: 5px!important;
  padding-bottom: 5px!important;
    }
    .acc{
        font-size: 10px!important;
    }
    .est{
        font-size: 10px!important;
    }
    .col-4{
        text-align: left;
        margin-left: -97px;
        margin-top: -9px;
    }
    .collegename{
        font-size: 13px;
    }
    .collegelogo{
        width: 40px;
        height: 40px;
    }
    .ban{
        flex: none!important;
    }
    .bantext{
        flex: none!important;
        text-align: center;
        align-content: center;
    }
    .Heromain{
        font-size: 30px;
        padding-left: 0%;
        padding-right: 0%;
        
    }
    .Herosub{
        font-size: 16px;
        padding-left: 0%;
        padding-right: 0%;
        
    }
    .addremove{
        padding-left: 90rem;
    }
    
    .Banner_Name{
        font-size: 18px;
       }
   
  } 
  